validator-parser-profile-xml/src/test/resources/profile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="version"/>
        <xs:element type="xs:string" name="author"/>
        <xs:element type="xs:string" name="queryLanguage"/>
        <xs:element name="environment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="graphs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="graph" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="code"/>
                          <xs:element type="xs:anyURI" name="uri"/>
                          <xs:element type="xs:string" name="description"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="defaultNamespaces"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="bundles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bundle">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="reference"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element name="queries">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="query" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="reference"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:string" name="format"/>
                                <xs:element type="xs:string" name="query"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>